Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
#Импорт библиотеки
import pandas as pd

In [2]:
# c сайта 'https://grouplens.org/datasets/movielens/' был скачан файл ratings.csv

In [3]:
# Cчитываем файл
ratings = pd.read_csv('ratings.csv')

#Читаем файл, в скобках указано количество строк для просмотра
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [4]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [16]:
#Определите какому фильму было выставлено больше всего оценок 5.0.
ratings[ratings['rating']==5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [17]:
# Cчитываем файл
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [27]:
#Отбираем значения за период с 2005 по 2010 года и не берем отрицательные значения quantity.
data_period = data[(data['year']>=2005)&(data['year']<=2010)&(data['quantity']>0)]
# data_period.head()

#Отбираем данные с категориями 4, 12 и 21 
data_category=data_period[data_period.category.isin([4,12,21])]
data_category.head()

#Считаем суммарное потребление стран Прибалтики

sum_baltics = data_category[data_category['country'].str.contains('|'.join(['Lat','Lit','Est']), case=False) ]['quantity'].sum()
print(f'Суммариное потребление стран Прибалтики:', sum_baltics)

Суммариное потребление стран Прибалтики: 244772.8

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [42]:
data_1 = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',  encoding='utf-8')[0]
data_1.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 025,"0,0%",Nasdaq,11 829,"1,0%",Биткойн,15 927,"-1,1%",USD/RUB,773425,"0,0%"
1,РТС,1 228,"-0,9%",S&P500,3 585,"1,4%",Нефть,426,"-1,5%",EUR/RUB,915805,"0,5%"
2,Dow,29 480,"1,4%",FTSE100,6 316,"-0,4%",Золото,1 890,"0,7%",EUR/USD,11834,"0,2%"

In [43]:
data_2 = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',  encoding='utf-8')[1]
data_2.head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1020148,-,1020976,"-0,08 %",-00829,14.11.2020
1,NaN,EUR/RUB,915805,-,911030,"0,52 %",04775,14.11.2020
2,NaN,USD/RUB,773425,-,773245,"0,02 %",00180,14.11.2020
3,NaN,JPY/RUB,07390,-,07396,"-0,08 %",-00006,14.11.2020
4,NaN,CNY/RUB,117073,-,117123,"-0,04 %",-00050,14.11.2020