Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
# Подгружаем библиотеки
import pandas as pd
import numpy as np

In [8]:
horse = pd.read_csv('horse_data.csv', na_values='?')
horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   2        298 non-null    float64
 1   1        299 non-null    int64
 2   530101   299 non-null    int64
 3   38.50    239 non-null    float64
 4   66       275 non-null    float64
 5   28       241 non-null    float64
 6   3        243 non-null    float64
 7   3.1      230 non-null    float64
 8   ?        253 non-null    float64
 9   2.1      267 non-null    float64
 10  5        244 non-null    float64
 11  4        255 non-null    float64
 12  4.1      243 non-null    float64
 13  ?.1      196 non-null    float64
 14  ?.2      194 non-null    float64
 15  ?.3      53 non-null     float64
 16  3.2      197 non-null    float64
 17  5.1      181 non-null    float64
 18  45.00    270 non-null    float64
 19  8.40     266 non-null    float64
 20  ?.4      135 non-null    float64
 21  ?.5      102 non-null    float64
 22  2.2      298 non-null    float64
 23  2.3      299 non-null    int64
 24  11300    299 non-null    int64
 25  00000    299 non-null    int64
 26  00000.1  299 non-null    int64
 27  2.4      299 non-null    int64
dtypes: float64(21), int64(7)
memory usage: 65.5 KB

In [9]:
horse.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [10]:
 # Согласно horse_data.names столбец № 1 :  surgery (операция) - 1-есть операция, 2-вылечили без операции
        # № 2 : Age(возраст) - 1-взрослая, 2-молодая менее 6 мес
        # № 3 : Hospital Number (номер больницы)
        # № 4 : rectal temperature (ректальная температура) - в градусах цельсия (нормальная температура 37,8)
        # № 5 : pulse (пульс) - ударов в мин., 30-40 - нормально
        # № 6 : respiratory rate(частота дыхания) - нормальная оценка от 8 до 10
        # № 7 : temperature of extremities (температура конечностей)  1 = Нормальный 2 = теплый 3 = прохладн 4 = Холодный
        # № 8 : peripheral pulse (периферический пульс) 1 = норма 2 = увелич 3 = уменьш  4 = отсутствует
        # № 9 : mucous membranes (слизистые оболочки) категории
        # # 10 : capillary refill time (время наполнения капилляров) категории
        # № 11 : pain (боль) - категории
        # № 12 : peristalsis (перистальтика) - категории
        # № 13: abdominal distension (вздутие живота) - ВАЖНЫЙ ПАРАМЕТР 1 = нет 2 = легкий 3 = умеренный  4 = тяжелый
        # № 14: nasogastric tube (назогастральный зонд) - категории
        # # 15: nasogastric reflux (назогастральный рефлюкс) - категории
        # № 16: nasogastric reflux PH (назогастральный рефлюкс PH)
        # № 17: rectal examination (ректальное исследование) - категории
        # № 18: abdomen (брюшная полость) - категории
        # № 19: packed cell volume (количество эритроцитов в крови)
        # № 20:total protein (общий белок)
        # № 21:abdominocentesis appearance (внешний вид брюшной полости)
         # № 22:abdomcentesis total protein (общий белок брюшной полости)
         # № 23:outcome (результат)
         # № 24:surgical lesion (хирургическое поражение)
         # № 25, 26, 27:type of lesion ( вид поражения)
         # № 28:cp_data (паталогия)

In [25]:
# Чтобы судить о состоянии здоровья лошадей, испытывающих кишечные колики, понадобятся столбцы hospital_number,  rectal temperature
# pulse, mucous membranes, abdominal distension, rectal examination, packed cell volume, abdomcentesis total protein ,
# outcome

#Отфильтруем датафрейм
horse_data_analysis = horse.filter(items = ['530101', '38.50', '66',  '4.1', '3.2', '45.00','8.40', '2.2'])


horse_data_analysis.columns = ['Номер больной лошади', 'Температура', 'Пульс',  'Вздутие живота', 
                               'Ректальное исследование', 'Количество эритроцитов в крови', 
                               'Общий белок', 'Результат']
horse_data_analysis

,Номер больной лошади,Температура,Пульс,Вздутие живота,Ректальное исследование,Количество эритроцитов в крови,Общий белок,Результат
0,534817,39.2,88.0,2.0,4.0,50.0,85.0,3.0
1,530334,38.3,40.0,1.0,1.0,33.0,6.7,1.0
2,5290409,39.1,164.0,4.0,3.0,48.0,7.2,2.0
3,530255,37.3,104.0,NaN,NaN,74.0,7.4,2.0
4,528355,NaN,NaN,2.0,3.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...
294,533886,NaN,120.0,NaN,NaN,55.0,65.0,3.0
295,527702,37.2,72.0,3.0,4.0,44.0,NaN,3.0
296,529386,37.5,72.0,3.0,3.0,60.0,6.8,2.0
297,530612,36.5,100.0,3.0,4.0,50.0,6.0,1.0
298,534618,37.2,40.0,NaN,4.0,36.0,62.0,3.0

In [29]:
# Расчет базовых метрик
stats_for_basics_metrics = ['Температура', 'Пульс', 'Количество эритроцитов в крови', 
                               'Общий белок']
for stats in stats_for_basics_metrics:
    print(f"Базовые метрики для {stats}")
    print('Размах', horse_data_analysis[stats].max() - horse_data_analysis[stats].min())
    print('Мода', horse_data_analysis[stats].mode()[0])
    print('Медиана', horse_data_analysis[stats].median())
    print('Дисперсия', horse_data_analysis[stats].var())
    print('Метод describe\n', horse_data_analysis[stats].describe())
    print('---------------------')

Базовые метрики для Температура
Размах 5.399999999999999
Мода 38.0
Медиана 38.2
Дисперсия 0.5380345276185787
Метод describe
 count    239.000000
mean      38.166527
std        0.733508
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: Температура, dtype: float64
---------------------
Базовые метрики для Пульс
Размах 154.0
Мода 48.0
Медиана 64.0
Дисперсия 822.5723424021243
Метод describe
 count    275.000000
mean      71.934545
std       28.680522
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: Пульс, dtype: float64
---------------------
Базовые метрики для Количество эритроцитов в крови
Размах 52.0
Мода 37.0
Медиана 45.0
Дисперсия 108.95985130111522
Метод describe
 count    270.000000
mean      46.300000
std       10.438384
min       23.000000
25%       38.000000
50%       45.000000
75%       52.000000
max       75.000000
Name: Количество эритроцитов в крови, dtype: float64
---------------------
Базовые метрики для Общий белок
Размах 85.7
Мода 6.5
Медиана 7.5
Дисперсия 756.7481526457651
Метод describe
 count    266.000000
mean      24.517293
std       27.509056
min        3.300000
25%        6.500000
50%        7.500000
75%       57.000000
max       89.000000
Name: Общий белок, dtype: float64
---------------------

In [30]:
#Размах для показателя "Пульс" на два порядка больше медианы, что указывает на сильный разброс данных. 
# Такая же тенденция наблюдается по показателю "Общий белок"

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. 

Принять и обосновать решение о дальнейшей работе с ними.

In [31]:
for stats in stats_for_basics_metrics:
    q1 = horse_data_analysis[stats].quantile(0.25)
    q3 = horse_data_analysis[stats].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    outliers = horse_data_analysis.loc[(horse_data_analysis[stats] < lower_bound)|
                                       (horse_data_analysis[stats] > upper_bound), stats]
    print(stats)
    print(outliers)
    print(f'Количество выбросов {outliers.count()}')
    print('--------------------')

Температура
19     39.9
43     35.4
53     40.3
74     39.7
79     36.4
90     40.3
98     39.6
117    36.5
140    36.0
237    36.1
250    36.6
258    40.8
280    40.0
297    36.5
Name: Температура, dtype: float64
Количество выбросов 14
--------------------
Пульс
2      164.0
40     150.0
54     160.0
254    184.0
274    150.0
Name: Пульс, dtype: float64
Количество выбросов 5
--------------------
Количество эритроцитов в крови
3      74.0
143    75.0
150    75.0
Name: Количество эритроцитов в крови, dtype: float64
Количество выбросов 3
--------------------
Общий белок
Series([], Name: Общий белок, dtype: float64)
Количество выбросов 0
--------------------

Анализ выбросов:

    Выбросы по показателям "Температура", "Количество эритроцитов в крови" не нужно удалять или игнорировать, так как величины соответствуют температуре и показателю крови при болезни животного
    Выбросы по показателю "Пульс" нужно уточнять - возможен ли такой высокий пульс при шоковом состоянии и слишком низкий при начале болезни.

Задание 3. Работа с пропусками
Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [41]:
for stats in horse_data_analysis.columns:
    pct_missing = horse_data_analysis[stats].isnull().mean()
    print(f'{stats} - {pct_missing :.1%}')

Номер больной лошади - 0.0%
Температура - 20.1%
Пульс - 8.0%
Вздутие живота - 18.7%
Ректальное исследование - 34.1%
Количество эритроцитов в крови - 9.7%
Общий белок - 11.0%
Результат - 0.3%

In [55]:
#Температура - довольно много пропусков. Можно заменить медианным значением, т.к. размах по этой величине небольшой
horse_data_analysis_new = horse_data_analysis

horse_data_analysis_new['Температура'].fillna(horse_data_analysis['Температура'].median(), inplace = True)

#Пульс - можно заполнить пропуски средними значениями, тк оно ближе к норме
horse_data_analysis_new['Пульс'].fillna(horse_data_analysis['Пульс'].mode()[0], inplace = True)

#Вздутие живота - будем заполнять медианами для соответствующих значений в показателе "Результат" так как здесь
#наиболее полные данные и чем больше вздутие тем хуже состояние лошади
horse_data_analysis_new['Вздутие живота'].fillna(horse_data_analysis.groupby(['Результат'])['Вздутие живота'].transform('median'), inplace=True)

#Ректальные исследования - будем заполнять медианами для соответствующих значений в показателе "Результат" 
#и "Вздутие живота"
horse_data_analysis_new['Ректальное исследование'].fillna(horse_data_analysis.groupby(['Результат', 'Вздутие живота'])['Ректальное исследование'].transform('median'), inplace=True)

#Количество эритроцитов в крови и Общий белок будем заполнять медианами для соответствующих значений в "Результат". 
# Чем выше белок и больше эритроцитов, тем хуже состояние лошади.
horse_data_analysis_new['Количество эритроцитов в крови'].fillna(horse_data_analysis.groupby(['Результат'])['Количество эритроцитов в крови'].transform('median'), inplace=True)
horse_data_analysis_new['Общий белок'].fillna(horse_data_analysis.groupby(['Результат'])['Общий белок'].transform('median'), inplace=True)

#Результат - всего один пропуск - берем моду
horse_data_analysis_new['Результат'].fillna(horse_data_analysis['Результат'].mode()[0], inplace = True)

horse_data_analysis_new.head(40)

,Номер больной лошади,Температура,Пульс,Вздутие живота,Ректальное исследование,Количество эритроцитов в крови,Общий белок,Результат
0,534817,39.2,88.0,2.0,4.0,50.0,85.0,3.0
1,530334,38.3,40.0,1.0,1.0,33.0,6.7,1.0
2,5290409,39.1,164.0,4.0,3.0,48.0,7.2,2.0
3,530255,37.3,104.0,3.0,4.0,74.0,7.4,2.0
4,528355,38.2,48.0,2.0,3.0,42.0,7.5,1.0
5,526802,37.9,48.0,3.0,3.0,37.0,7.0,1.0
6,529607,38.2,60.0,2.0,3.0,44.0,8.3,2.0
7,530051,38.2,80.0,4.0,3.0,38.0,6.2,3.0
8,5299629,38.3,90.0,1.0,3.0,40.0,6.2,1.0
9,528548,38.1,66.0,1.0,2.0,44.0,6.0,1.0
10,527927,39.1,72.0,2.0,4.0,50.0,7.8,1.0
11,528031,37.2,42.0,3.0,4.0,42.0,7.0,1.0
12,5291329,38.0,92.0,2.0,1.0,37.0,6.1,2.0
13,534917,38.2,76.0,1.0,4.0,46.0,81.0,1.0
14,530233,37.6,96.0,3.0,4.0,45.0,6.8,2.0
15,5301219,38.2,128.0,3.0,4.0,53.0,7.8,2.0
16,526639,37.5,48.0,2.0,3.0,42.0,7.5,1.0
17,5290481,37.6,64.0,1.0,2.0,40.0,7.0,1.0
18,532110,39.4,110.0,3.0,3.0,55.0,8.7,1.0
19,530157,39.9,72.0,4.0,4.0,46.0,6.1,1.0
20,529340,38.4,48.0,1.0,4.0,49.0,6.8,1.0
21,521681,38.6,42.0,1.0,1.0,48.0,7.2,1.0
22,534998,38.3,130.0,2.0,3.0,50.0,70.0,1.0
23,533692,38.1,60.0,3.0,3.0,51.0,65.0,1.0
24,529518,37.8,60.0,2.0,3.0,42.0,7.5,1.0
25,530526,38.3,72.0,3.0,3.0,43.0,7.0,1.0
26,528653,37.8,48.0,2.0,1.0,37.0,5.5,1.0
27,5279442,38.2,48.0,3.0,4.0,53.0,6.8,2.0
28,535415,37.7,48.0,1.0,2.0,45.0,76.0,1.0
29,529475,37.7,96.0,4.0,4.0,66.0,7.5,2.0
30,530242,37.2,108.0,2.0,3.0,52.0,8.2,3.0
31,529427,37.2,60.0,3.0,4.0,43.0,6.6,1.0
32,529663,38.2,64.0,2.0,4.0,49.0,8.6,1.0
33,529796,38.2,100.0,4.0,4.0,52.0,6.6,1.0
34,528812,38.2,104.0,3.0,4.0,73.0,8.4,3.0
35,529493,38.3,112.0,1.0,1.0,51.0,6.0,3.0
36,533847,37.8,72.0,1.0,1.0,56.0,80.0,1.0
37,528996,38.6,52.0,2.0,1.0,32.0,6.6,1.0
38,5277409,39.2,146.0,3.0,4.0,53.0,6.8,2.0
39,529498,38.2,88.0,3.0,4.0,63.0,6.5,2.0

In [56]:
#проверка 
for stats in horse_data_analysis_new.columns:
    pct_missing_2 = horse_data_analysis_new[stats].isnull().mean()
    print(f'{stats} - {pct_missing_2 :.1%}')

Номер больной лошади - 0.0%
Температура - 0.0%
Пульс - 0.0%
Вздутие живота - 0.0%
Ректальное исследование - 0.0%
Количество эритроцитов в крови - 0.0%
Общий белок - 0.0%
Результат - 0.0%